[Unit]
Description=Gunicorn server for {{ HOST }}

[Service]
User={{ ansible_ssh_user }}
WorkingDirectory=/home/{{ ansible_ssh_user }}/sites/{{ HOST }}
EnvironmentalFile=/home/{{ ansible_ssh_user }}/sites/{{ HOST }}/.env
Restart=on-failure
ExecStart=/home/{{ ansible_ssh_user }}/sites/{{ HOST }}/virtualenv/bin/gunicorn \
    --bind unix:/tmp/{{ HOST }}.socket \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
