server {
    listen 80;
    server_name {{ HOST }};

    location /static {
        alias /home/{{ ansible_ssh_user }}/sites/{{ HOST }}/static;
    }

    location / {
        proxy_set_header Host {{ HOST }};
        proxy_pass http://unix:/tmp/{{ HOST }}.socket;
    }
}
